.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  text-align: center;
  gap: 3.5rem;
}

.card {
  position: relative;
  font-family: "Overpass", sans-serif;
  width: 340px;
  height: 500px;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.075) 52.08%,
    rgba(255, 255, 255, 0) 100%
  );
}

.card::before {
  position: absolute;
  content: "";
  border: 3px solid transparent;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  background: linear-gradient(120deg, #fe3688, #73bcff, #b9dcff, #fe3688) 1;
  background: linear-gradient(120deg, #fe3688, #73bcff, #b9dcff, #fe3688)
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

.card:hover {
  background: linear-gradient(334.7deg, #fe3688 0%, #73bcff 94.7%);
}

h1 {
  font-size: 60px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 90px;
  margin-top: 0;
}

img {
  width: 200px;
  height: 200px;
  margin-top: 43px;
}

.hand-img {
  width: 260px;
  height: 223px;
  margin-top: 20px;
}

h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 0;
}

p {
  margin: 1rem 1.5rem;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 770px) {
  .container {
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  h1 {
    margin: 0 auto;
    font-size: 46px;
  }

  .card {
    width: 310px;
    height: 400px;
  }
  img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
  }

  .hand-img {
    width: 200px;
    height: 173px;
    margin-top: 20px;
  }
  h4 {
    margin-top: 0.7rem;
    font-size: 30px;
    font-weight: 700;
  }

  p {
    margin: 1rem 1.5rem;
    font-size: 16px;
    line-height: 22px;
  }
}
